<div>
  <div>
    <h3>{{pageTitle}}</h3>
  </div>
  <div>
    <table class="table table-responsive table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Lp.</th>
          <th>Typ</th>
          <th>Ilość pokoji</th>
          <th>Powierzchnia</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties let i = index" [attr.data.-index]="i" class="col-md-12">
          <td>{{i + 1}}</td>
          <td>{{property.type === 0 ? "Dom" : "Mieszkanie"}}</td>
          <td>{{property.rooms}}</td>
          <td>{{property.area}} m<sub>2</sub></td>
          <td><button class="btn btn-primary" (click)="getProperty(property.id)">Details</button></td>
          <td><button class="btn btn-success" (click)="updateProperty(property.id)">Update</button></td>
          <td><button class="btn btn-danger" (click)="deleteProperty(property.id)">Delete</button></td>
        </tr>
        <tr *ngIf="properties.length == 0">
          <td style="text-align:center" colspan="8">{{tempInfo}}</td>
        </tr>
      </tbody>
    </table>
    <p-calendar [(ngModel)]="value" [inline]="true"></p-calendar>
  </div>
</div>
