<div>
  <div>
    <h3>{{pageTitle}}</h3>
  </div>
  <p-toast [sticky]="false" [life]="5000" [(value)]="messages"></p-toast>
  <p-confirmDialog widht="450"></p-confirmDialog>
  <div>
    <table class="table table-responsive table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Lp.</th>
          <th>Ulica</th>
          <th>Miasto</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses let i = index" [attr.data.-index]="i" class="col-md-12">
          <td>{{i + 1}}</td>
          <td>{{address.street}}</td>
          <td>{{address.city}}</td>
          <td><button class="btn btn-primary" (click)="getAddress(address.addressId)">Szczegóły</button></td>
          <td><button class="btn btn-success" (click)="updateAddress(address.addressId)">Aktualizuj</button></td>
        </tr>
        <tr *ngIf="addresses.length == 0">
          <td style="text-align:center" colspan="8"><p-progressSpinner [style]="{width:'40px', height:'40px'}"></p-progressSpinner></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

